<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auth/css/register.css' %}">
</head>
<body>

<div class="page">
    <div class="container">
        <div class="left">
            <div class="register">Register</div>
            <div class="eula">
                Already have an account? 
                <a href="{% url 'authentication:login' %}">Login here</a>
                {% if messages %}
                    <div class="error">
                        <h2>Error:</h2>
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="right">
            <svg viewBox="0 0 320 300">
                <path class="line" d="M 40,120 L 280,120 c 0,0 25,0 25,35 s-25,35 -25,35 H 40 c 0,0 -25,0 -25,35 s25,35 25,35 h 215 c 0,0 20,0 20,-25 s-20,-25 -20,-25 h -190 c 0,0 -20,0 -20,25 s20,25 20,25 h 170"/>
            </svg>
            <form method="POST" class="form">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password1" required>
                <label for="confirm-password" class="confirm-password-label">Confirm Password</label>
                <input type="password" id="confirm-password" name="password2" required>
                <input type="submit" id="submit" value="Register">
            </form>
        </div>
    </div>
</div>

<script>
    // Removed the animation script
</script>

</body>
</html>
