{% extends 'base.html' %}
{% load static %}
{% block map_meta %}
<link rel="stylesheet" href="{% static 'map/css/styles.css' %}"/>
{% endblock %}
{% block content %}

    <span> Map in progress ..... </span>
    <div id="map_container">
    <div id="map"></div>
    </div>

    <script>
        var map = L.map('map').setView([-8.670458, 115.212629], 13); // Coordinates for Denpasar, Bali

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>
{% endblock %}