{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <link rel="stylesheet" href="static\src\choices.min.css">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    {% block map_meta %}{% endblock %}
    {% block title_meta %} {% endblock %}
    <title>{% block title %}Denpasar Dine-In{% endblock %}</title>
</head>
<body>
    <header class="fixed top-0 w-full z-50">
        <div class=" border-t-2  border-gray-100 "></div>
        {% include 'navbar.html' %}
    </header>
<
    <main class=" md: pt-8 md: px-3">
        <div class="mt-14">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="bg-[#005f75] text-[#F2F0EF] py-6 mt-5">
            <div class="bg-[#005f75] text-[#F2F0EF] py-6">
                <div class="container mx-auto px-4 flex flex-col  justify-between">
                    <h2 class="text-lg font-semibold mb-4">Denpasar Dine-In</h2>
                    <p class="text-sm mb-3">K6 Group</p>
                    <a href="{% url 'restaurant_list'%}" class="underline mt-2">Home</a>
                    <a href="{% url 'map' %}" class="underline mb-3">Map</a>
                    <p class="text-sm mt-6">&copy 2024 Denpasar Dine-In. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
