{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Bali Food Guide{% endblock %}</title>
</head>
<body>
    <header>
        <div>
            <!-- Logic to toggle the Denpasar Food Guide link -->
            {% if request.path == '/' %}
                <h1><a href="{% url 'admin_dashboard:admin_dashboard_restaurant_list' %}">Denpasar Food Guide</a></h1>
            {% else %}
                <h1><a href="{% url 'restaurant_list' %}">Denpasar Food Guide</a></h1>
            {% endif %}
        </div>
        {% include 'navbar.html' %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>